/* czeste cyfry obok niektorych wartosci oznacza ze inne wartosci z ta samo cyfra musza tez byc zmienione, 
"s" (seperate) oznacza ze jesli ta wartosc zmienie, to inne z ta sama cyfra nie musze, (inne wartosci moga zostac) */

header {
    /*min-height: 0px;    */
    /* 3 */
    /* max-height: 0px;    */
    /* 3 */

    width: 99vw;
    border-radius: 20px;
}

.logo {
    width: 400px;
    /* 1 */
    height: 865px;
    /* 1 */
    overflow: hidden;
    position: absolute;
    top: -355px;
    left: -125px;
    /* 4 */
    transform: scale(0.17);
    /* 2 */
    border-radius: 25%;
}

.logo img {
    margin: 0px 0px 0px -68px;
    /* 1 & 2s */
}

#h2 {
    position: absolute;
    left: 130px;
    top: -30px;
    font-family: Palatino;
    font-weight: bold;
    text-align-last: center;
    font-size: 2.8rem;
    color: white;
}

.buts {
    position: absolute;
    display: flex;
    gap: 3vw;
    /* 5 */
    margin-left: 24vw;
    /* 4 */
    margin-top: 15px;
    /* 3s */
    max-height: 40px;
    /* 3s */
}

.but {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    font-family: Kepler;
    font-weight: bold;
    /*border: rgb(0, 0, 0) 2px solid;*/
    border-radius: 5px;
    color: white;
}

.svg {
    border: none;
    padding: 0;
    width: 50px;
    /* 5 */
    height: 35px;
    /* 3s */
    cursor: pointer;
    margin-top: 3px;
    margin-left: -2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
    color: white;
}

.svg svg {
    position: absolute;
    width: 100%;
    height: 110%;

}

#h1 {
    position: absolute;
    left: 50%;
    top: 50px;
    width: auto;
    transform: translate(-50%);
    font-size: 4rem;
    font-family: Kepler;
    font-weight: bold;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}

/* zmiejszyc + dodac inne */
#img2 {
    position: absolute;
    z-index: -1;
    width: 100vw;
    /*box-shadow: 0px 0px 125px rgb(124, 58, 0);*/
    border-radius: 1px;
    max-width: 100%;
    overflow: hidden;
}

/*.boxes {}*/

#boxONas-border {
    position: absolute;
    width: 100vw;
    /* 7s */
    max-width: 100%;
    /* 7 */
    height: 200px;
    left: 50%;
    top: 99.9vh;
    /* 6 */
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#boxKoncerty-border {
    position: absolute;
    width: 100vw;
    /* 7s */
    max-width: 100%;
    /* 7 */
    height: auto;
    left: 50%;
    top: 130vh;
    /* 6 */
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

ol {
    display: flex;
    justify-content: space-around;
    margin-left: -40px;
    gap: 9vw;
    list-style-type: none;
    line-height: 50px;
    margin-top: 50px;
    font-family: Garamond;
    font-weight: bold;

}

li {
    border: solid black 3px;
}

/*#boxBilety-border {
    position: absolute;
    width: 100vw;*/
/* 7s */
/* max-width: 100%;*/
/* 7 */
/*height: 200px;
    left: 50%;
    top: 200vh;*/
/* 6 */
/* transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}*/

#boxPomoc-border {
    position: absolute;
    width: 100vw;
    /* 7s */
    max-width: 100%;
    /* 7 */
    height: 200px;
    left: 50%;
    top: 200vh;
    /* 6 */
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#boxZdjecia-border {
    position: absolute;
    width: 100vw;
    /* 7s */
    max-width: 100%;
    /* 7 */
    height: 200px;
    left: 50%;
    top: 250vh;
    /* 6 */
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#boxDolacz-border {
    position: absolute;
    width: 100vw;
    /* 7s */
    max-width: 100%;
    /* 7 */
    height: 230px;
    left: 50%;
    top: 300vh;
    /* 6 */
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

body {
    margin: 0;
    display: grid;
    background-color: #222222;
}

#img3 {
    position: absolute;
    left: -600px;
    top: 120vh;
    border-radius: 50%;
    border: #222222 5px solid;
    transform: scale(0.3);
}

footer {
    margin-top: 400vh;
    max-height: 200px;
    min-height: 300px;
    background-color: white;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
    border: solid black 2px;
}