/* *adds a very realistic copyright restriction here* */

body {
    margin: 0;
    display: grid;
    background-color: #222222;
    font-family: "Trebuchet MS";
    max-width: 99.9vw;
}

.logo {
    z-index: 2;
    width: 400px;
    height: 865px;
    overflow: hidden;
    position: fixed;
    top: -360px;
    left: -145px;
    transform: scale(0.15);
    border-radius: 25%;
}

.logo img {
    z-index: 2;
    margin: 0px 0px 0px -68px;
}

#h2 {
    z-index: 2;
    position: absolute;
    left: 110px;
    top: -7px;
    font-family: Palatino;
    font-weight: bold;
    text-align-last: center;
    font-size: 2.4rem;
    background: url("pics/pobrane.png") no-repeat center/cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.nav {
    z-index: 2;
    position: absolute;
    display: flex;
    gap: clamp(1vw, 1.8vw, 2vw);
    right: 20px;
    padding-top: 20px;
    padding-left: 300px;
    max-height: 40px;
    max-width: 99.9vw;
    vertical-align: middle;
}

.but {
    z-index: 2;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.7rem;
    width: auto;
    height: auto;
    font-family: "Trebuchet MS";
    font-weight: bold;
    /*border: rgb(0, 0, 0) 2px solid;*/
    border: none;
    border-radius: 5px;
    color: white;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.svg {
    border: none;
    width: 50px;
    height: 35px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
}

.svg svg {
    position: absolute;
    width: 100%;
    height: 110%;
}

#h1Div {
    z-index: 1;
    width: auto;
    background-color: rgba(178, 54, 255, 0.197);
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    height: 4vw;
}

h1 {
    /* without the parent (#h1Div) div:
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 40%;
    width: max-content;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-family: Palatino;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    background: url("pics/pobrane2.png") no-repeat center/cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; */
    position: relative;
    padding: 10px 10px;
    width: max-content;
    font-size: clamp(2rem, 3.2vw, 4rem);
    font-family: Palatino;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    background: url("pics/pobrane2.png") no-repeat center/cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transform: translateY(-50%);
}

.swiper-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    max-width: 100vw;
    max-height: 100vh;
}

.swiper-wrapper {
    max-width: 100vw;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
    z-index: -1;
}

.swiper-two .swiper-slide {
    padding-bottom: 20px;
}

.boxes {
    /*dont remove this edit: i think?*/
    max-width: 99vw;
}

#boxONas {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 187);
    padding-bottom: 20px;
}

#boxONas .right {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    width: 50vw;
    text-align: center;
}

#boxONas .left img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
    border-radius: 10px;
    margin-top: 15px;
}

#titleONas {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 2.7rem;
    margin-bottom: 50px;
    margin-left: 50px;
}

.infoONas {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0px 40px;
    margin-left: 50px;
}

#lorem {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0px 40px;
    margin-left: 50px;
}

#boxKoncerty {
    position: relative;
    width: 99.9vw;
    max-width: 100%;
    height: auto;
    margin-top: 100px;
    background-color: rgb(0, 255, 0);
    text-align: center;
}

.koncerty-img {
    position: relative;
    left: 0;
    top: 0;
    width: 80%;
    height: 80%;
    object-fit: contain;
    object-position: center;
    display: block;
    border-radius: 15px;
}

.koncerty {
    position: relative;
}

.left {
    padding: 20px 10px;
    position: relative;
    left: 40px;
    top: 0;
    min-height: 200px;
    height: auto;
    width: 40vw;
}

.koncerty .right {
    position: absolute;
    left: 40%;
    height: auto;
    width: 50vw;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

ol {
    display: flex;
    justify-content: space-around;
    margin: auto;
    list-style-type: none;
    line-height: 40px;
    font-family: Palatino;
    font-weight: bold;
    height: auto;
}

li {
    /*max-width: calc(99.9vw / 3);
    width: max-content;
    margin-left: 50px;
    margin-right: 50px;*/
    width: auto;
    padding: 0px 40px;
}

#boxZdjecia {
    position: relative;
    width: 99.9vw;
    max-width: 100%;
    height: auto;
    margin-top: 100px;
    background-color: rgb(255, 0, 0);
    text-align: center;
}

#boxProby {
    position: relative;
    width: 99.9vw;
    max-width: 100%;
    height: auto;
    margin-top: 100px;
    background-color: rgb(21, 0, 255);
    text-align: center;
}

.proby .right {
    position: absolute;
    left: 40%;
    top: 9vh;
    height: auto;
    width: 50vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 50px;
}

.proby .left img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
    border-radius: 10px;
}

footer {
    margin-top: 250px;
    top: auto;
    max-height: 200px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
    text-align: center;
    max-width: 99vw;
}

.footer-left {
    position: relative;
    left: 0;
    top: 0;
    min-height: 200px;
    height: auto;
    width: 49vw;
}

.links {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 7vw;
    top: 30px;
    max-width: 35vw;
}

.footer-right {
    position: relative;
    left: 50%;
    top: -203px;
    height: 200px;
    width: 49vw;
}

a {
    text-decoration: none;
    color: black;
}

li a {
    border: solid black 2px;
    border-radius: 10px;
}

hr {
    /*border: 2px solid rgba(172, 172, 172, 0.719);*/
    border: 2px solid red
}

p {
    font-size: clamp(1.5rem, 1.4vw, 2vw)
}