/* czeste cyfry obok niektorych wartosci oznacza ze inne wartosci z ta samo cyfra musza tez byc zmienione, 
"s" (seperate) oznacza ze jesli ta wartosc zmienie, to inne z ta sama cyfra nie musze, (inne wartosci moga zostac) */

body {
    margin: 0;
    display: grid;
    background-color: #222222;
    font-family: "Trebuchet MS";
}

header {
    width: 99.9vw;
    border-radius: 20px;
}

.logo {
        z-index: 2;
    width: 400px;
    /* 1 */
    height: 865px;
    /* 1 */
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: -355px;
    left: -125px;
    /* 4 */
    transform: scale(0.17);
    /* 2 */
    border-radius: 25%;
}

.logo img {
    margin: 0px 0px 0px -68px;
    /* 1 & 2s */
}

#h2 {
        z-index: 2;
    position: absolute;
    left: 135px;
    top: -15px;
    font-family: Palatino;
    font-weight: bold;
    text-align-last: center;
    font-size: 2.8rem;
    /*color: white;*/
    background: url("pics/pobrane.png") no-repeat center/cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.buts {
    z-index: 2;
    position: absolute;
    display: flex;
    gap: 3.5vw;
    /* 5 */
    margin-left: 25vw;
    margin-right: 2vw;
    /* 4 */
    margin-top: 15px;
    /* 3s */
    max-height: 40px;
    /* 3s */
}

.but {
        z-index: 2;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.8rem;
    width: fit-content;
    height: fit-content;
    font-family: "Trebuchet MS";
    font-weight: bold;
    /*border: rgb(0, 0, 0) 2px solid;*/
    border-radius: 5px;
    color: white;
}

.svg {
        z-index: 2;
    border: none;
    padding: 0;
    width: 50px;
    /* 5 */
    height: 35px;
    /* 3s */
    cursor: pointer;
    margin-top: 3px;
    margin-left: -2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
    color: white;
}

.svg svg {
        z-index: 2;
    position: absolute;
    width: 100%;
    height: 110%;

}

#h1 {
        z-index: 2;
    position: absolute;
    left: 50%;
    top: 40%;
    width: max-content;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-family: Palatino;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    background: url("pics/pobrane2.png") no-repeat center/cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

/* zmiejszyc + dodac inne 
#img2 {
    position: absolute;
    z-index: -1;
    /*width: 100vw;*/
/*box-shadow: 0px 0px 125px rgb(124, 58, 0);
    border-radius: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}
*/

.swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
        max-width: 99.9vw;
    max-height: 99.9vh;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}


#boxONas {
    position: absolute;
    width: 100vw;
    /* 7s */
    max-width: 100%;
    /* 7 */
    height: fit-content;
    left: 50%;
    top: 99.9vh;
    /* 6 */
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#boxKoncerty {
    position: absolute;
    width: 100vw;
    /* 7s */
    max-width: 100%;
    /* 7 */
    height: auto;
    left: 50%;
    top: 130vh;
    /* 6 */
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

ol {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 40px;
    margin-left: -30px;
    margin-top: 50px;
    margin-right: 30px;
    list-style-type: none;
    line-height: 50px;
    font-family: Garamond;
    font-weight: bold;
}

li {
    max-width: calc(99.9vw / 3);
    width: max-content;
    margin-left: 50px;
    margin-right: 50px;
}

/*#boxBilety-border {
    position: absolute;
    width: 100vw;*/
/* 7s */
/* max-width: 100%;*/
/* 7 */
/*height: 200px;
    left: 50%;
    top: 200vh;*/
/* 6 */
/* transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}*/
/*
#boxPomoc-border {
    position: absolute;
    width: 100vw;
    /* 7s */
/*max-width: 100%;
    /* 7 */
/*height: 200px;
    left: 50%;
    top: 200vh;
    /* 6 */
/*transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}
*/

#boxZdjecia {
    position: absolute;
    width: 100vw;
    /* 7s */
    max-width: 100%;
    /* 7 */
    min-height: 400px;
    height: auto;
    left: 50%;
    top: 200vh;
    /* 6 */
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}


/*
#boxDolacz-border {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    min-height: 200px;
    height: auto;
    left: 50%;
    top: 300vh;
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#boxDolacz-border button {
    border: solid black 2px;
    border-radius: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    left: 0%;
    transform: translateY(50%);
    cursor: pointer;
    transition: 1s ease-out;
}
*/

#img3 {
    position: absolute;
    left: -600px;
    top: 45vh;
    border-radius: 50%;
    border: #222222 5px solid;
    transform: scale(0.3);
}

footer {
    margin-top: 300vh;
    max-height: 200px;
    min-height: 300px;
    background-color: black;
    border-radius: 10px;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

li a {
    border: solid black 2px;
    border-radius: 10px;
}

hr {
    border: 2px solid rgba(165, 165, 165, 0.766);
}